
body{
    font-family: 'Raleway',sans-serif;
    margin: 0%;
    padding: 0%;
    max-width: 1800px;
}

 /* header + font size*/
header{    
    margin-left: 2%;
    margin-right: 2%;
}
h1{
    font-size: 24px;
    font-weight: bold;
}

h3{    
    font-size: 16px;
    font-weight: bold;
    margin: 0%;
    margin-top: 2%;
}
#logo{
    margin: 30px;
    width: 90px;
    height: 50px;
}
/*nav*/
nav{
    display: flex;
    justify-content: space-between;
    padding-bottom: 15px;
}

nav ul {
    display: flex;
    list-style: none;
    margin: 0%;
}
.nav-li{
    font-size: 16px;
    width: 50%;
}

.li-nav{

    display: flex;
    justify-content: center;
    align-items: center;
    width:200px;  
}

.texte{
    font-size: 16px;
    padding-bottom: 5px;
}

/*Media queries hover pour grand ecran*/

@media all and (min-width:992px){
.li-nav:hover{
    border-top: 3px solid #0065FC;}    

.btn-search-phone{
        display: none;
    }
}
/*-----------------------------------------*/

a, a:active {
        text-decoration: none;
        color: inherit;
}
a:hover {
        color: #0065FC;
        border-top-color: #0065FC;
    
}

/*Search & filter*/

#name-form{
    border:solid 1px #F2F2F2;
    border-right-style: none;
}

.btn-search {
    background-color: #0065FC;
    color: white;
    border-radius: 0px 10px 10px 0px;
    box-shadow: none;
    border-style: none;
}

.filter{
    font-weight: bold;
    display: flex;
    align-items: center;
}

.filter,p {
    margin: 0px;
}
.filter-wrap{
    margin: 5px;
}

#search-block {
    display: flex;
    margin: 15px;
}

.location{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;
    background-color: #F2F2F2;
    font-size: 20px;
    border-radius: 10px 0px 0px 10px;
}

input, textarea, select {
    font-weight: bold; 
    font-family:inherit;
    border-top-style: hidden;
    border-right-style: hidden;
    border-left-style: hidden;
    border-bottom-style: hidden; 
}

.btn{
    font-weight: bold;
    display: inline-flex;
    align-items: center;
    background-color: white;
    border-radius: 30px 30px 30px 30px;
    margin: 15px;
    padding-right: 20px;
    height: 50px;
    border:solid 3px #F2F2F2;
}

.btn:hover{
    border: 3px solid #0065FC;
}

.btn-logo {
    color:#0065FC;
    border-radius: 50px;
    width: 40px;
    height: 40px;
    background-color: #DEEBFF;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left:-20px;
    margin-right: 10px;
    padding:10px;
}

.info{
    color: #0065FC;
    border-radius: 50%;
    margin: 10px;
    padding: 5px 10px 5px 10px;
    border: 2px solid #F2F2F2;

}

.infobulle{
    margin: 10px;
    padding: 10px;
    display: flex;
    align-items: center;
}

/*------------------fin-du header------------------------------------------------------------------------*/ 

/*Section Hébergement marseille*/

main{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 0%;
}
.h2-marseille{
    margin-left: 45px;
}
.hebergement-section{
    background-color: #F2F2F2;
    border-radius: 20px;
    width: 65%;
    margin: 2%;
    max-width: 1200px;
}

.article-marseille{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.cannebiere-img{
    width: 100%;
    height: 150px;
    max-width: 350px;
    object-fit: cover;
    object-position: center;
}

.card-marseille{
    display: flex;
    flex-direction:column;
    justify-content: center;
    width: 30%;
    max-width: 350px;
    background-color: white;
    border-radius: 20px;
    margin: 1%;
}
.box-img-marseille{

    height: 150px;
    max-width: 350px;
    object-fit: cover;
    overflow: hidden;
    border-radius: 20px 20px 0px 0px;
    border: solid 4px white;

}
.card-marseille h3 {
    margin-top: 3%;
}

.card-marseille p{
    margin-top: 2%;
    margin-bottom:2%;
}
.text-marseille{
    display: flex;
    flex-direction: column;
    padding-left:2%;
    margin-left: 1%;
    padding-bottom: 2%;
}
/*Etoile bleu et grise*/


.blue-star{
    color: #0065FC;
}

.grey-star{
    color: #F2F2F2;
}

.stars{
    font-size: 12px;
    display: flex;
}
/*media queries section hébergements desktop entre 992px et 1100px*/
@media all and (min-width : 992px) and (max-width : 1100px)
{
    h3{
        font-size: 12px;
        margin: 0%;
    }
    .text-marseille{
        margin: 3%;
        font-size: 11px;
    }
    .stars{
        font-size: 11px;
    }
}    

.afficher-plus{
    
    margin-top: 20px;
    margin-left: 45px;
    font-weight: bold;
    padding-bottom: 20px;
}

/*Section Les plus populaires*/

.h2-most{
    display: flex;
    justify-content: space-around;
}
/*media queries taille différente en desktop et en dessous*/
@media all and (min-width:992px)
{
.popular-section{
    width: 27%;
}
}

.popular-section{    
    background-color: #F2F2F2;
    border-radius: 20px;
    margin: 2%;
}

.img-popular{
    width: 100%;
    height: 150px;
    max-width: 150px;
    border-radius: 20px 0px 0px 20px;
    object-fit:cover;
    border: solid 4px white;
}

.card-popular{
    display: flex;
    width: 90%;
    max-width: 400px;
    min-height: 100px;
    max-height: 180px;
    background-color: white;
    border-radius: 20px;
    margin: 5%;
}

.article-popular{    
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

#link-popular{
    display: flex;
}
/*media queries section populaire desktop entre 992px et 1100px*/
@media all and (min-width : 992px) and (max-width : 1100px)
{
    .article-popular div p {
        font-size: 11px;
    }
    .img-popular{
        max-width: 100px;
        max-height: 100px;
    }
}
    
.text-article-popular{
    margin-left: 5%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.text-popular{
    margin-top: 5px;
    margin-bottom: 10%;
}


/*Section Activité*/

.activite-section{
    margin-left: 2%;
    margin-right: 2%;
    width: 100%;
}

.article-activite{
    display: flex;
    justify-content: space-between;
}

.article-activite h3{
    margin: 2%;
}

/*media queries pour min 992px desktop*/
@media all and (min-width:992px)
{
.card-column{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 23%;
    height: 440px;
}

.card-column-2{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 320px;
    min-width: 200px;
    width: 23%;
}

.text-activite{
    margin-left: 5px;
    padding: 3%;
    
}

.img-activite{
    height: 400px;
    width: 100%;
    object-fit: cover;
    overflow: hidden;
    border-radius: 20px 20px 0px 0px;
}

.img-vieux-port{
    height: 400px;
    overflow: hidden;
}
.zoom-card-vieux-port{
    height: 114%;
}

.card-vieux-port{
    height: 440px;
    max-width: 320px;
    width: 23%;
    border: 1px solid #F2F2F2;
    border-radius: 20px;
    box-shadow: 0px 2px 0px #F2F2F2;
}

.card-fort-pomegues{
    height: 240px;
    box-shadow: 0px 2px 0px #F2F2F2;
    border: solid 1px #F2F2F2;
    border-radius: 20px;
}

.zoom-card-fort-pomegues{
    height: 120%;
}
    
.img-fort-pomegues{
    overflow: hidden;
    height: 190px;
}

.card-iles{
    box-shadow: 0px 2px 0px #F2F2F2;
    border: solid 1px #F2F2F2;
    border-radius: 20px;
    height: 180px;
}

.zoom-card-iles{
    height: 150%;
}

.img-iles{
    height: 140px;
    overflow: hidden;
}

.card-parc-national{
    box-shadow: 0px 2px 0px #F2F2F2;
    border: solid 1px #F2F2F2;
    border-radius: 20px;
    height: 440px;
    max-width: 320px;
    width: 23%;
}
.zoom-card-parc-national{
    height: 115%;
}

.img-parc-national{
    overflow: hidden;
    height: 400px;
}

.card-notre-dame{ 
    box-shadow: 0px 2px 0px #F2F2F2;
    border: solid 1px #F2F2F2;
    border-radius: 20px;
    max-width: 320px;
    height: 210px;
    margin-bottom: 5%;
}

.zoom-card-notre-dame{
    height: 140%;
}

.img-notre-dame{
    height: 170px;
    overflow: hidden;
}

.card-parc-longchamp{
    box-shadow: 0px 2px 0px #F2F2F2;
    border: solid 1px #F2F2F2;
    border-radius: 20px;
    max-width: 320px;
    height:210px;
}

.zoom-card-parc-longchamp{
    height: 140%;
}
 
.img-parc-longchamp{
    height: 170px;
    overflow: hidden;
}
}

/*footer de la page*/

footer{
    margin-top: 50px;
    background-color: #F2F2F2;
    padding: 20px;
    display: flex;
    width: 100%;
}
.bloc{
    display: flex;
    width: 70%;
    justify-content: space-between;
    align-items: flex-start;
}

ul {
    list-style: none;
    padding: 0%;

}
footer ul li {
    padding-bottom: 10px;
}